.thank_you button{
    background:#45b577;
    color: white;
}
.thank_you button:hover{
    background:#45b577;
   
}
.thank_you button Link{
    color: white;
    display: none;
}
.li{
    color: aliceblue;
    text-decoration: none;
   
}
.li:hover{
    color: black;
}
.thank_you span i{
    font-size: 4rem;
    color: #45b577;
}
.thank_you h1{
    font-size: 3.6rem;
  font-family:Brush Script MT ;
}