.pagination span{
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #45b577;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 20px;
}

.active__page{
  
    background: #45b577;
    color: #fff !important;
}
.card{
    margin-top: 30px;
}
