.search_bar{
    padding:2rem 3rem;
    height: 100px;
    width: fit-content;
    border-radius: 50px;
    /* box-shadow: rgb(125, 125, 228) 0px 20px 20px 0px; */
    box-shadow: rgb(94, 110, 190) 0px 20px 20px 0px;
    /*width: max-content;*/
    margin-top: 30px;
   
}
.search_bar span{
    font-size: 1.8rem;
    color: #45b577;
}
.search_bar h6{
    font-size: 0.9rem;
}
.search_bar input{
    border: none;
    font-size: 0.7rem;
    color: #45b577;
}
.search_bar input:focus{
    margin-bottom: 0;
}
.form_group-fast{
    border-right: 2px solid black;
}

.search_icon i{
    font-size: 1.6rem;
    padding:0.5rem;
    background:#45b577; 
    color: white;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
  
}
.search_icon{
    padding-bottom: 28px;
}