.tour_img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card{
    border: none !important;
    box-shadow: rgb(0, 0, 0,0.2) 0px 18px 50px -10px;
}

.tour_img{
    position: relative;
}

.tour_img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: #45b577;
    color:#fff;
    padding: 0.3rem 0.5rem;
    border-radius: 3px 0 0 0;
}

.card_top span i{
    color:#45b577;
}

.tour_rating{
    font-size: 0.9rem;
    color:black;
    
}

.tour_location{
    color:black;
    font-weight: 500;
    font-size: 0.9rem;
}

.tour_rating i, .tour_location i{
    font-size: 1rem;
}

.tour_title{
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.tour_title a{
    text-decoration: none;
    color:black;
    transition: .3s;
}

.tour_title a:hover{
    color:#45b577;
}

.card_bottom h5{
    color:#45b577;
    font-size: 1.1rem;
    font-weight: 700;
}

.card_bottom h5 span{
    font-weight: 500;
    color: black;
    font-size: 0.8rem;
}
.card_bottom button{
    background: rgb(14, 158, 43);
    cursor: pointer;
    padding: 0.2rem 0.5rem !important;
}

 /* .booking_btn a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff; 
}  */

/*.card_bottom button a:hover{
    
    color:#45b577;
} */
.card_bottom button {
    border-radius: 50px;
    color: white;
    background-color: #45b577;
}
.card_bottom button:hover{
    background: #45b577;
    color:white;
}
