.footer{
    padding-top:70px;
    padding-bottom: 30px;
}

.footer .logo img{
    width: 50%;
  margin-top: -20px;
    /* margin-bottom: 3rem; */
}

.footer .logo p{
   margin-top: -20px;
    color: black;
}

.social_links span{
    margin-top: -25px;
}
.social_links span a{
    text-decoration: none;
    color:black;
   
    font-size: 1.2rem;
}

.footer_link-title{
    color:black;
    margin-bottom: 1rem;
}

.footer_quick-links{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.footer_quick-links h6 span i{
    color:#45b577;
    font-size: 1.1rem;
}

.copyright{
    color:black;
    font-size: 1rem;
}